@model IEnumerable<RigVM>

@{
    ViewData["Title"] = $"Browse Rigs";
}

@section SearchForm
{
    <form method="get" asp-action="Browse" class="form-inline my-2 my-lg-0">
        <input name="name" value="@ViewData["name"]" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
}

<div class="container">
    <div class="card-deck">
        @foreach (var vm in Model)
        {
            <div class="col-md-4 mt-4">
                <div class="card h-100">
                    <div class="card-header flex-nowrap">
                        <h3 class="text-center">@vm.Name</h3>
                    </div>
                    <div class="card-body">
                        <img class="card-img-top" src="@vm.ImagePath" asp-append-version="true" alt="Rig part image"/>
                    </div>
                    <div class="card-footer text-center form-inline justify-content-center">
                        <a asp-controller="Rigs" asp-action="Details" asp-route-id="@vm.Id" class="btn btn-primary m-1">View</a>
                        <a asp-controller="Rigs" asp-action="Update" asp-route-id="@vm.Id" class="btn btn-primary m-1">Edit</a>
                        <form method="post" asp-action="Delete" asp-route-id="@vm.Id">
                            <button type="submit" class="btn btn-danger m-1">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-4 mt-4">
            <div class="card h-100">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <a asp-controller="Rigs" asp-action="Create" class="align-middle">
                        <img class="card-img-top d-sm-block" src="~/images/plus.png" asp-append-version="true" alt="Create"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>